# Assignment 20 : Python Basics

### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

try:
    with open('test1.txt','w') as file:
        file.write(test1)
finally:
    file.close()

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test2 = open('test1.txt','r')
test2.read()
# There is no difference

'This is a test of the emergency text system,'

### 3. Create a CSV file called books.csv by using these lines: 

title,author,year The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

rows =[['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]


with open('books.csv','w') as file2:
    file = csv.writer(file2)
    file.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3
obj = sqlite3.connect("books.db")
cursor = obj.cursor()
table = 'CREATE TABLE books (title varchar(50) , author varchar(50) , year INT)'
cursor.execute(table)

### 5. Read books.csv and insert its data into the book table.

In [5]:
# Few methods to read csv but reading with pandas is effiecient while reading with 

import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', obj, if_exists='append', index = False)
read_books

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station  China MiÃ©ville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [6]:
select_all = "SELECT * FROM books"
rows = cursor.execute(select_all).fetchall()
for r in rows:
    print(r)
obj.commit()
obj.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 6. Select and print the title column from the book table in alphabetical order.

In [7]:
obj = sqlite3.connect("books.db")
cursor = obj.cursor()
query = "SELECT title FROM books ORDER BY title"
cursor.execute(query).fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

### 7. From the book table, select and print all columns in the order of publication.

In [8]:
obj = sqlite3.connect("books.db")
cursor = obj.cursor()
query = "SELECT * FROM books ORDER BY year"
cursor.execute(query).fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China MiÃ©ville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [9]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [10]:
! pip install redis -q
# Not Known

### 10. Increment the count field of test and print it.

In [11]:
# Not Known