# Assignment 20 : Python Programming Basic

### 1.Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.<br>
**Examples:**<br>
`filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]`<br>
`filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]`<br>
`filter_list(["Nothing", "here"]) ➞ []`

In [1]:
def filter_list(x:list)->list[int]:
    out_list = [i for i in x if type(i) == int]
    return out_list

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [3]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [4]:
filter_list(["Nothing", "here"])

[]

### 2.Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...<br>
**Examples:**<br>
`add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]`<br>
`add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]`<br>
`add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]`

In [5]:
def add_indexes(x:list)->list[int]:
    out_list = [i+x[i] for i in range(len(x))]
    return out_list

In [6]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [7]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [8]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

### 3.Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.<br>
**Examples:**<br>
`cone_volume(3, 2) ➞ 12.57`<br>
`cone_volume(15, 6) ➞ 565.49`<br>
`cone_volume(18, 0) ➞ 0`<br>

In [9]:
import numpy as np
def cone_volume(height:int,radius:int)->float:
    volume = round((np.pi*pow(radius,2))*(height/3),2)
    return volume

In [10]:
cone_volume(3,2)

12.57

In [11]:
cone_volume(15,6)

565.49

In [12]:
cone_volume(18,0)

0.0

### 4.This Triangular Number Sequence is generated from a pattern of dots that form a triangle.<br>
The first 5 numbers of the sequence, or dots, are: `1, 3, 6, 10, 15`<br>
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on. Write a function that gives the number of dots with its corresponding triangle number of the sequence.<br>

**Examples:**<br>
`triangle(1) ➞ 1`<br>
`triangle(6) ➞ 21`<br>
`triangle(215) ➞ 23220`<br>

In [13]:
def triangle(x:int)->int:
    out_int = int((pow(x,2)/2)+(x/2))
    return out_int

In [14]:
triangle(1)

1

In [15]:
triangle(6)

21

In [16]:
triangle(215)

23220

### 5.Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.<br>
**Examples:**<br>
`missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5`<br>
`missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10`<br>
`missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7`<br>

In [17]:
def missing_num(x:list)->int:
    range_var = [i for i in range(1,10+1)]
    for i in range_var:
        if i not in x:
            return i

In [18]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [19]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [20]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7